In [32]:
import pandas as pd

In [33]:
file_path = "C:/Users/zxckj/Documents/ML-group/Merged_Data.csv"
data = pd.read_csv(file_path)

In [34]:
data.head()

,Unnamed: 0,join,team_id,opponent_id,league,opponent_league,division,opponent_division,team_side,date,...,pos8_int_start_distance,pos9_int_start_distance,pitcher_run_exp,run_exp,Day of week,Away score,Home score,Attendance,Duration (min),Score Line
0,NaN,3/30/2023 DH0 AZ,AZ,LAD,NL,NL,W,W,Away,3/30/2023,...,323,290,-3.7,3.7,Thu,2,8,52075,155,110000000
1,NaN,3/30/2023 DH0 ATL,ATL,WSH,NL,NL,E,E,Away,3/30/2023,...,323,299,3.8,-3.8,Thu,7,2,35756,187,030100003
2,NaN,3/30/2023 DH0 BAL,BAL,BOS,AL,AL,E,E,Away,3/30/2023,...,325,305,-2.4,2.4,Thu,10,9,36049,190,100430200
3,NaN,3/30/2023 DH0 BOS,BOS,BAL,AL,AL,E,E,Home,3/30/2023,...,324,302,-5.5,5.5,Thu,10,9,36049,190,100102032
4,NaN,3/30/2023 DH0 CHC,CHC,MIL,NL,NL,C,C,Home,3/30/2023,...,320,296,4.9,-4.9,Thu,0,4,36054,141,00400000x

- Encodes the categorical variables using one-hot encoding to make them - suitable for the model.
- Splits the data into training (80%) and testing (20%) sets.
- Trains a random forest classifier on the training data.
- Evaluates the model on the test data and prints the accuracy score.

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import numpy as np

In [68]:

data['home_win'] = (data['Home score'] > data['Away score']).astype(int)

features = data[['Home score', 'Away score']]
target = data['home_win']

additional_features = data[['pitches', 'ba', 'iso', 'babip', 'slg', 'woba', 'xwoba', 'xba', 'hits', 'abs', 'launch_speed', 'launch_angle', 'spin_rate', 'velocity', 'effective_speed', 'whiffs', 'swings', 'takes', 'run_exp']]
features_extended = pd.concat([features, additional_features], axis=1)

non_numeric_columns = features_extended.select_dtypes(include=['object']).columns
features_extended_numeric = features_extended.drop(non_numeric_columns, axis=1)

X_train_numeric, X_test_numeric, y_train_numeric, y_test_numeric = train_test_split(features_extended_numeric, target, test_size=0.2, random_state=42)

rf_classifier_numeric = RandomForestClassifier(n_estimators=1, random_state=42)
rf_classifier_numeric.fit(X_train_numeric, y_train_numeric)

y_pred_numeric = rf_classifier_numeric.predict(X_test_numeric)

accuracy_numeric = accuracy_score(y_test_numeric, y_pred_numeric)

accuracy_numeric

0.8559670781893004