In [1]:
import pandas as pd

In [2]:
file_path = "C:/Users/zxckj/Documents/ML-group/fullData.csv"
data = pd.read_csv(file_path)

df = pd.DataFrame(data)

In [8]:
df

,team_id,team_side,date,start_time,doubleheader,time_of_day,sky,wind_direction,park_id,temperature_fahrenheit,...,pos6_int_start_distance_h,pos7_int_start_distance_h,pos8_int_start_distance_h,pos9_int_start_distance_h,pitcher_run_exp_h,run_exp_h,dayOfWeek,duration,runs,scoreLine
0,BAL,Away,3/30/2023,3/30/2023 14:10,0,Day,Sunny,LeftToRight,BOS07,38,...,150,283,324,302,-5.5,5.5,Thu,190,10,100430200
1,BOS,Home,3/30/2023,3/30/2023 14:10,0,Day,Sunny,LeftToRight,BOS07,38,...,148,276,325,305,-2.4,2.4,Thu,190,9,100102032
2,CHC,Home,3/30/2023,3/30/2023 13:20,0,Day,Sunny,RightToLeft,CHI11,42,...,147,293,327,301,0.6,-0.6,Thu,141,4,00400000x
3,MIL,Away,3/30/2023,3/30/2023 13:20,0,Day,Sunny,RightToLeft,CHI11,42,...,152,296,320,296,4.9,-4.9,Thu,141,0,000000000
4,CIN,Home,3/30/2023,3/30/2023 16:10,0,Day,Sunny,FromRf,CIN09,61,...,149,290,325,303,0.1,-0.1,Thu,182,4,100120000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4855,SF,Home,10/1/2023,10/1/2023 12:05,0,Day,Cloudy,ToCf,SFO03,64,...,152,293,318,300,2.4,-2.4,Sun,164,2,000001010
4856,CIN,Away,10/1/2023,10/1/2023 14:15,0,Day,Sunny,RightToLeft,STL10,86,...,148,307,322,307,1.7,-1.7,Sun,136,3,101000100
4857,STL,Home,10/1/2023,10/1/2023 14:15,0,Day,Sunny,RightToLeft,STL10,86,...,149,301,327,308,0.2,-0.2,Sun,136,4,01300000x
4858,TB,Away,10/1/2023,10/1/2023 15:07,0,Day,Cloudy,ToCf,TOR02,79,...,149,285,313,281,-5.9,5.9,Sun,167,12,170111100
4859,TOR,Home,10/1/2023,10/1/2023 15:07,0,Day,Cloudy,ToCf,TOR02,79,...,147,299,318,289,-3.1,3.1,Sun,167,8,030003110

In [9]:
df = df.drop(columns = ['JOIN','field_condition', 'precipitation'])

KeyError: "['JOIN', 'field_condition', 'precipitation'] not found in axis"