# Load packages

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

# Load the file

In [21]:
file_path = "C:/Users/zxckj/Documents/ML-group/data/fullData.csv"
data = pd.read_csv(file_path)

df = pd.DataFrame(data)

In [22]:
df.head(3)

,JOIN,team_id,team_side,date,start_time,doubleheader,time_of_day,sky,field_condition,precipitation,...,pos6_int_start_distance_h,pos7_int_start_distance_h,pos8_int_start_distance_h,pos9_int_start_distance_h,pitcher_run_exp_h,run_exp_h,dayOfWeek,duration,runs,scoreLine
0,45015BALDH0,BAL,Away,3/30/2023,3/30/2023 14:10,0,Day,Sunny,Unknown,NaN,...,150,283,324,302,-5.5,5.5,Thu,190,10,100430200
1,45015BOSDH0,BOS,Home,3/30/2023,3/30/2023 14:10,0,Day,Sunny,Unknown,NaN,...,148,276,325,305,-2.4,2.4,Thu,190,9,100102032
2,45015CHCDH0,CHC,Home,3/30/2023,3/30/2023 13:20,0,Day,Sunny,Unknown,NaN,...,147,293,327,301,0.6,-0.6,Thu,141,4,00400000x

In [23]:
df = df.drop(columns = ['JOIN','field_condition', 'precipitation','park_id','wind_direction'])

In [24]:
df

,team_id,team_side,date,start_time,doubleheader,time_of_day,sky,temperature_fahrenheit,attendance,wind_speed_mph,...,pos6_int_start_distance_h,pos7_int_start_distance_h,pos8_int_start_distance_h,pos9_int_start_distance_h,pitcher_run_exp_h,run_exp_h,dayOfWeek,duration,runs,scoreLine
0,BAL,Away,3/30/2023,3/30/2023 14:10,0,Day,Sunny,38,36049.0,12.0,...,150,283,324,302,-5.5,5.5,Thu,190,10,100430200
1,BOS,Home,3/30/2023,3/30/2023 14:10,0,Day,Sunny,38,36049.0,12.0,...,148,276,325,305,-2.4,2.4,Thu,190,9,100102032
2,CHC,Home,3/30/2023,3/30/2023 13:20,0,Day,Sunny,42,36054.0,10.0,...,147,293,327,301,0.6,-0.6,Thu,141,4,00400000x
3,MIL,Away,3/30/2023,3/30/2023 13:20,0,Day,Sunny,42,36054.0,10.0,...,152,296,320,296,4.9,-4.9,Thu,141,0,000000000
4,CIN,Home,3/30/2023,3/30/2023 16:10,0,Day,Sunny,61,44063.0,6.0,...,149,290,325,303,0.1,-0.1,Thu,182,4,100120000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4855,SF,Home,10/1/2023,10/1/2023 12:05,0,Day,Cloudy,64,38359.0,5.0,...,152,293,318,300,2.4,-2.4,Sun,164,2,000001010
4856,CIN,Away,10/1/2023,10/1/2023 14:15,0,Day,Sunny,86,44614.0,6.0,...,148,307,322,307,1.7,-1.7,Sun,136,3,101000100
4857,STL,Home,10/1/2023,10/1/2023 14:15,0,Day,Sunny,86,44614.0,6.0,...,149,301,327,308,0.2,-0.2,Sun,136,4,01300000x
4858,TB,Away,10/1/2023,10/1/2023 15:07,0,Day,Cloudy,79,42058.0,6.0,...,149,285,313,281,-5.9,5.9,Sun,167,12,170111100
4859,TOR,Home,10/1/2023,10/1/2023 15:07,0,Day,Cloudy,79,42058.0,6.0,...,147,299,318,289,-3.1,3.1,Sun,167,8,030003110

# Random Forest Analysis

In [25]:
# Assuming the last column is the target variable. Adjust if necessary.
X = df.iloc[:, :-1]  # Features: all columns except the last one
y = df.iloc[:, -1]   # Target variable: the last column

In [26]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Random Forest model
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy*100:.2f}%')

ValueError: could not convert string to float: 'TEX'